@import '../../styles/variable.scss';

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 $size + 5;
}

.chart-wrapper {
    h3 {
        text-align: center;
    }
}