@import "../styles/variable.scss";
// @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
label {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a,
a:hover {
    text-decoration: none;
}

input,
textarea,
button,
select {
    border: none;
    background: none;
}

li {
    list-style: none;
}

main {
    padding: 90px 15px 24px 95px;
}

.d-none {
    display: none !important;
}

body {
    background: #efefef;
}

.d-none {
    display: none !important;
}

.white-bg {
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    border-radius: $radius;
}

.w-100 {
    width: 100%;
}

.w-96 {
    width: 96% !important;
}

.w-50 {
    width: 50% !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: $size;
    counter-reset: serial-number;
    min-height: 100px;
    overflow-y: auto;
    max-height: 350px;
    display: inline-block;

    thead {
        position: sticky;
        top: 0;

        th {
            text-align: left;
            background: $blue;
            padding: $size - 3 $size + 2;
            font-weight: normal;
            color: $white;
            font-size: $size + 3;
            white-space: nowrap;
            border-right: 1px solid #eee;
            min-width: 15%;

            &:first-child {
                text-align: center;
                width: 4%;
            }
        }
    }

    tbody {

        tr {
            border-top: 1px solid #eee;

            td {
                color: $black;
                font-size: $size + 3;
                white-space: nowrap;
                padding: $size - 3 $size + 2;
                border-right: 1px solid #eee;

                &:first-child {
                    text-align: center;

                    &:before {
                        counter-increment: serial-number;
                        /* Increment the serial number counter */
                        content: counter(serial-number);
                        /* Display the counter */
                    }

                    &:after {
                        content: '.';
                    }
                }

            }
        }
    }
}

.chart-flex {
    display: flex;
    justify-content: space-between;

    .chart-wrapper-bg {
        background: $white;
        box-shadow: 0 0 5px #bbb;
        border-radius: $radius;
        padding: $size $size + 20;
        margin: $size 0;
        width: 44%;

        .chart-wrapper {
            width: 100%;
            height: 50%;
            margin: 0 auto;
        }
    }
}

.button-style {
    border: 1px solid $blue;
    padding: 8px 20px;
    border-radius: $radius;
    color: $blue;
    margin-left: $size;
    cursor: pointer;
    font-size: $size + 4;

    &:hover {
        background: $blue;
        color: $white;
        border: 1px solid transparent;
    }
}


.react-tabs {
    flex-direction: column !important;

    .react-tabs__tab-list {
        flex-direction: row !important;
        border-bottom: 1px solid #ddd !important;
        width: 100% !important;
        background: none;
    }

    .react-tabs__tab-panel {
        color: $black;
        background: none;
        box-shadow: none;
    }

    .react-tabs__tab {
        border: none !important;
        color: #bbb;
        border-bottom: 1px solid transparent;
        padding-bottom: 8px;
        padding-right: $size - 2;
        font-size: 15px;
        margin-right: $size;
        transition: .3s;

        &:hover,
        &:focus {
            background: none;
            color: $blue;
            transition: .3s;
        }
    }

    .react-tabs__tab--selected {
        background: none;
        box-shadow: none;
        color: #1738dd !important;
        border-bottom: 1px solid $blue !important;
    }
}