$small: "(max-width: 600px)";
$medium: "(max-width: 768px)";
$large: "(max-width: 1024px)";
$x-large: "(max-width: 1199px)";
$xx-large: "(min-width: 1200px)";


$purple: #685baa;
$white: #fff;
$black: #000;
$green: #6fb523;
$red: #ff0000;
$blue: #005cc4;
$orange: #ec7d22;
$size: 10px;
$radius: 3px;
$shadow: 0 0 9px #ccc;


