@import '../../styles/variable.scss';

.admin-campaign {

    table {
        max-height: 252px;
    }

    .chart-wrapper {
        button {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .admin-campaign-head {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .admin-campaign-head-right {
            display: flex;
            align-items: center;

            .dropdown {
                background: $white;
                color: $white;
                border: none;
                box-shadow: 0 0 5px#ccc;
                padding: 2px 10px 2px 5px;
                margin-left: $size;

                select {
                    background: $white;
                    padding: 7px;
                    cursor: pointer;
                }
            }

            h6,
            .select-dd {
                font-size: $size + 4;
                border: 1px solid $black;
                border-radius: 3px;
                color: $black;
                padding: $size - 2 $size + 5;

                span {
                    font-weight: bold;
                }
            }

        }
    }


    .admin-campaign-chart {
        background: #fff;
        box-shadow: 0 0 5px #bbb;
        border-radius: 3px;
        padding: $size + 20;
        margin-top: $size + 20;

        h3 {
            text-align: center;
        }
    }

    h3.table-head {
        margin-top: $size + 10;
    }

    .d-flex {
        display: flex;
        justify-content: space-between;

        .w-49 {
            width: 49%;
        }

        .head {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
        }
    }
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: $size;
}