@import '../../styles/variable.scss';

.data-box {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;

    li {

        margin-bottom: $size + 10;
        display: flex;
        // &:not(:nth-child(4n)) {
        //     margin-right: $size + 25;
        // }

        // &:not(:last-child) {
        //     margin-right: $size + 25;
        // }

        h3 {
            font-size: $size + 2;
            color: $black;
            text-align: center;
            padding: $size;
            white-space: nowrap;
            width: 55%;
            background: $white;
            box-shadow: 0 0 5px #bbb;
            border-radius: 3px 3px 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $blue;
            padding: 16px $size - 1 !important;
            border-radius: 0 3px 3px 0;
            width: 80px;

            span {
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: $size + 40;
                height: $size + 39;
                margin-right: $size;
                border: 1px solid $blue;
                display: none;
            }

            .flipX {
                // animation: 3s anim-flipX ease-in-out;
                font-size: $size + 1;
                color: $white;
                font-weight: 400;
                text-align: center;
            }

            .font-size {
                font-size: 13px;
                white-space: nowrap;
            }

            // @keyframes anim-flipX {
            //     0% {
            //         opacity: 0;
            //         transform: rotateY(90deg);
            //     }

            //     50% {
            //         opacity: 1;
            //         transform: rotateY(2000deg);
            //     }

            //     100% {
            //         /* animate nothing to pause animation at the end */
            //         opacity: 1;
            //         transform: rotateY(0deg);
            //     }
            // }

            .light-g {
                color: #bcf086;
            }

            .light-b {
                color: #99b1ff;
            }

            .light-p {
                color: #d4a2ff;
            }

            .light-o {
                color: #ffbe89;
            }
        }
    }

    /*

    .green {
        animation: 1s slideInFromBottom1;
        // background: $green;
    }

    .blue {
        animation: 2s slideInFromBottom1;
        // background: $blue;
    }

    .purple {
        animation: 3s slideInFromBottom1;
        // background: $purple;
    }

    .orange {
        animation: 4s slideInFromBottom1;
        // background: $orange;
    }
*/

}

// /* crops animations that exceeds one line area */

/* flipping class and key frames*/



@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom1 {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.grid-02 {
    grid-template-columns: 33.3% 33.3% 33.3%;

    li {
        div {
            width: 135px;
            padding: 6px !important;
        }
    }
}