@import '../../styles/variable.scss';


.senior-customer {
    h3 {
        padding: 10px 0 0;
    }

    .top-section {
        margin: 25px 0 0;

        .data-box-02 {
            flex-direction: column;
            width: 23%;
            justify-content: flex-start;

            li {
                width: 100%;
                margin-bottom: 13px;
                padding: 6px 0;
            }
        }

        .table-section {
            h3 {
                text-align: left;
            }

            .white-bg {
                height: 305px;
            }
        }
    }

   
}