@import '../../styles/variable.scss';

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: $size;
}

.white-bg {
    background: $white;
    margin: $size + 5 0;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;

}

.width-49 {
    width: 49%;
}

.chart-flex {
    display: flex;
}